/*SET UP*/
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro);
@font-face {
  font-family: 'Boon';
  src: url(./fonts/font/woff2-otf/Boon-Light.woff2) format('woff2'),
    url(./fonts/font/woff-otf/Boon-Light.woff) format('woff'),
    url(./fonts/font/otf/Boon-Light.otf) format('truetype');
  font-weight: 300;
  font-style: normal;
}
.boon-300 {
  font-family: 'Boon';
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Boon';
  src: url(./fonts/font/woff2-otf/Boon-LightItalic.woff2) format('woff2'),
    url(./fonts/font/woff-otf/Boon-LightItalic.woff) format('woff'),
    url(./fonts/font/otf/Boon-LightItalic.otf) format('truetype');
  font-weight: 300;
  font-style: italic;
}
.boon-300i {
  font-family: 'Boon';
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Boon';
  src: url(./fonts/font/woff2-otf/Boon-Regular.woff2) format('woff2'),
    url(./fonts/font/woff-otf/Boon-Regular.woff) format('woff'),
    url(./fonts/font/otf/Boon-Regular.otf) format('truetype');
  font-weight: 400;
  font-style: normal;
}
.boon-400 {
  font-family: 'Boon';
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Boon';
  src: url(./fonts/font/woff2-otf/Boon-Italic.woff2) format('woff2'),
    url(./fonts/font/woff-otf/Boon-Italic.woff) format('woff'),
    url(./fonts/font/otf/Boon-Italic.otf) format('truetype');
  font-weight: 400;
  font-style: italic;
}
.boon-400i {
  font-family: 'Boon';
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Boon';
  src: url(./fonts/font/woff2-otf/Boon-Medium.woff2) format('woff2'),
    url(./fonts/font/woff-otf/Boon-Medium.woff) format('woff'),
    url(./fonts/font/otf/Boon-Medium.otf) format('truetype');
  font-weight: 500;
  font-style: normal;
}
.boon-500 {
  font-family: 'Boon';
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Boon';
  src: url(./fonts/font/woff2-otf/Boon-MediumItalic.woff2) format('woff2'),
    url(./fonts/font/woff-otf/Boon-MediumItalic.woff) format('woff'),
    url(./fonts/font/otf/Boon-MediumItalic.otf) format('truetype');
  font-weight: 500;
  font-style: italic;
}
.boon-500i {
  font-family: 'Boon';
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Boon';
  src: url(./fonts/font/woff2-otf/Boon-SemiBold.woff2) format('woff2'),
    url(./fonts/font/woff-otf/Boon-SemiBold.woff) format('woff'),
    url(./fonts/font/otf/Boon-SemiBold.otf) format('truetype');
  font-weight: 600;
  font-style: normal;
}
.boon-600 {
  font-family: 'Boon';
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Boon';
  src: url(./fonts/font/woff2-otf/Boon-SemiBoldItalic.woff2) format('woff2'),
    url(./fonts/font/woff-otf/Boon-SemiBoldItalic.woff) format('woff'),
    url(./fonts/font/otf/Boon-SemiBoldItalic.otf) format('truetype');
  font-weight: 600;
  font-style: italic;
}
.boon-600i {
  font-family: 'Boon';
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Boon';
  src: url(./fonts/font/woff2-otf/Boon-Bold.woff2) format('woff2'),
    url(./fonts/font/woff-otf/Boon-Bold.woff) format('woff'),
    url(./fonts/font/otf/Boon-Bold.otf) format('truetype');
  font-weight: 700;
  font-style: normal;
}
.boon-700 {
  font-family: 'Boon';
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Boon';
  src: url(./fonts/font/woff2-otf/Boon-BoldItalic.woff2) format('woff2'),
    url(./fonts/font/woff-otf/Boon-BoldItalic.woff) format('woff'),
    url(./fonts/font/otf/Boon-BoldItalic.otf) format('truetype');
  font-weight: 700;
  font-style: italic;
}
.boon-700i {
  font-family: 'Boon';
  font-weight: 700;
  font-style: italic;
}

.App {
  /* text-align: center; */
  /* background-color: #F0F0F0; */
  height: 1293px;
  width: 1366px;
  /* height: 100%;
  width: 100%; */
  /* left: -684px;
  top: -647px; */
  left: 0px;
  top: 0px;
  border-radius: 0px;
  /* background: #F0F0F0; */
  /* background: black; */
}

/*END SET UP*/

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

/* .App-link {
  color: #61dafb;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/*///////////////   HEADER   //////////////////*/
/* .Header{
  
} */

.rectangle1{
  position: absolute;
  height: 76px;
  width: 1366px;
  /* width: 100%; */
  left: 0px;
  top: 0px;
  border-radius: 0px;
  background: #FF6F61;
}

.Logo{
  position: absolute;
  width: 77px;
  height: 36px;
  left: 99px;
  top: 20px;
  cursor: pointer;
}

d {
  position: fixed;
  width: 77px;
  height: 36px;
  left: 95px;
  top: 20px;
  padding: 5px;
  font-family: 'Boon';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  line-height: 0.7cm;
  background-color: #FF6F61;
  opacity: 0;
  cursor: pointer;
}
d.show{opacity: 1;}

/* .Menu{

} */

b1 {
  position: absolute;
  width: 41px;
  height: 14px;
  left: 379px;
  top: 31px;

  font-family: 'Boon';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 14px;

  color: #F9F9F9;
  cursor: pointer;
}

b2 {
  position: absolute;
  width: 97px;
  height: 14px;
  left: 480px;
  top: 31px;

  font-family: 'Boon';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 14px;

  color: #F9F9F9;
  cursor: pointer;
}

b3 {
  position: absolute;
  width: 53px;
  height: 14px;
  left: 637px;
  top: 31px;

  font-family: 'Boon';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 14px;

  color: #F9F9F9;
  cursor: pointer;
}

b4 {
  position: absolute;
  width: 29px;
  height: 14px;
  left: 750px;
  top: 31px;

  font-family: 'Boon';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 14px;

  color: #F9F9F9;
  cursor: pointer;
}

b5 {
  position: absolute;
  width: 23px;
  height: 14px;
  left: 839px;
  top: 31px;

  font-family: 'Boon';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 14px;

  color: #F9F9F9;
  cursor: pointer;
}

b6 {
  position: absolute;
  width: 85px;
  height: 14px;
  left: 922px;
  top: 31px;
  
  font-family: 'Boon';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 14px;

  color: #F9F9F9;
  cursor: pointer;
}

/*///////////////   CONTEXT   //////////////////*/
.Context {
  background: #F0F0F0;
  height: 1293px;
  width: 1366px;
  left: -647px;
  top: -684px;
  /* position: relative; */
  /* background-color: #F0F0F0; */
  /* min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin); */
}

c {
  position: absolute;
  height: 18px;
  width: 95px;
  left: 100px;
  top: 126px;
  
  font-family: 'Boon';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;

  color: #484848;
}

.card{
  position: absolute;
  width: 275px;
  height: 308px;
  left: 100px;
  top: 164px;
  background: #1A586A;

}

e1 {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  
  background: #FCFCFC;
  border-radius: 15px;
  
}
/*///////////////   FOOTER   //////////////////*/
/* .Footer{
  
} */

.rectangle2{
  position: absolute;
  height: 54px;
  width: 1366px;
  /* width: 100%; */
  left: 0px;
  top: 1239px;
  border-radius: 0px;
  background: #1A586A;
}

a {
  position: absolute;
  /* height: 14px;
  width: 272px;
  left: 560px;
  top: 20px; */
  left: 41%;
  right: 39.09%;
  top: 37.04%;
  bottom: 37.04%;

  font-family: 'Boon';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;

  color: #707070;

  border: 1px;
  border-color: #F5F5F5;
  box-sizing: border-box;
}